@import "tailwindcss";
   /* div{
 border: 2px solid black; 
}  */

.bg-grid-slate-100 {
  background-image: linear-gradient(to right, #f1f5f9 1px, transparent 1px),
    linear-gradient(to bottom, #f1f5f9 1px, transparent 1px);
  background-size: 24px 24px;
}
